In [1]:
import pandas as pd
from glob import glob
import datetime

In [2]:
stock_files =sorted(glob('Resources/JC-*-citibike-tripdata.csv'))
stock_files

['Resources\\JC-202101-citibike-tripdata.csv',
 'Resources\\JC-202102-citibike-tripdata.csv',
 'Resources\\JC-202103-citibike-tripdata.csv',
 'Resources\\JC-202104-citibike-tripdata.csv',
 'Resources\\JC-202105-citibike-tripdata.csv',
 'Resources\\JC-202106-citibike-tripdata.csv',
 'Resources\\JC-202107-citibike-tripdata.csv',
 'Resources\\JC-202108-citibike-tripdata.csv',
 'Resources\\JC-202109-citibike-tripdata.csv',
 'Resources\\JC-202110-citibike-tripdata.csv',
 'Resources\\JC-202111-citibike-tripdata.csv',
 'Resources\\JC-202112-citibike-tripdata.csv']

In [20]:
df_21=pd.concat((pd.read_csv(file)
          for file in stock_files), ignore_index = True)

In [21]:
df_21.dtypes

tripduration               float64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                     float64
usertype                    object
birth year                 float64
gender                     float64
ride_id                     object
rideable_type               object
started_at                  object
ended_at                    object
start_station_name          object
start_station_id            object
end_station_name            object
end_station_id              object
start_lat                  float64
start_lng                  float64
end_lat                    float64
end_lng                    float64
member_casual               object
dtype: object

In [22]:
#Count of the combined df
df_21.count()

tripduration                11624
starttime                   11624
stoptime                    11624
start station id            11624
start station name          11624
start station latitude      11624
start station longitude     11624
end station id              11624
end station name            11624
end station latitude        11624
end station longitude       11624
bikeid                      11624
usertype                    11624
birth year                  11624
gender                      11624
ride_id                    632819
rideable_type              632819
started_at                 632819
ended_at                   632819
start_station_name         632819
start_station_id           632819
end_station_name           629319
end_station_id             629319
start_lat                  632819
start_lng                  632819
end_lat                    630587
end_lng                    630587
member_casual              632819
dtype: int64

In [23]:
df_21["starttime"] = pd.to_datetime(df["starttime"])

df_21.dtypes

tripduration                      float64
starttime                  datetime64[ns]
stoptime                           object
start station id                  float64
start station name                 object
start station latitude            float64
start station longitude           float64
end station id                    float64
end station name                   object
end station latitude              float64
end station longitude             float64
bikeid                            float64
usertype                           object
birth year                        float64
gender                            float64
ride_id                            object
rideable_type                      object
started_at                         object
ended_at                           object
start_station_name                 object
start_station_id                   object
end_station_name                   object
end_station_id                     object
start_lat                         float64
start_lng                         float64
end_lat                           float64
end_lng                           float64
member_casual                      object
dtype: object

In [24]:
df_21.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,...,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,266.0,2021-01-01 00:03:35.510,2021-01-01 00:08:01.7770,3273.0,Manila & 1st,40.721651,-74.042884,3209.0,Brunswick St,40.724176,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1543.0,2021-01-01 00:23:32.925,2021-01-01 00:49:16.0830,3681.0,Grand St,40.715178,-74.037683,3213.0,Van Vorst Park,40.718489,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1461.0,2021-01-01 00:23:50.794,2021-01-01 00:48:12.5660,3681.0,Grand St,40.715178,-74.037683,3213.0,Van Vorst Park,40.718489,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,793.0,2021-01-01 00:31:09.077,2021-01-01 00:44:22.9430,3185.0,City Hall,40.717732,-74.043845,3199.0,Newport Pkwy,40.728745,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,596.0,2021-01-01 00:35:52.190,2021-01-01 00:45:48.7740,3639.0,Harborside,40.719252,-74.034234,3209.0,Brunswick St,40.724176,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df_21['Age']=(df_21['starttime'].dt.year)-df_21['birth year']

In [26]:
df_21.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,...,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,Age
0,266.0,2021-01-01 00:03:35.510,2021-01-01 00:08:01.7770,3273.0,Manila & 1st,40.721651,-74.042884,3209.0,Brunswick St,40.724176,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.0
1,1543.0,2021-01-01 00:23:32.925,2021-01-01 00:49:16.0830,3681.0,Grand St,40.715178,-74.037683,3213.0,Van Vorst Park,40.718489,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.0
2,1461.0,2021-01-01 00:23:50.794,2021-01-01 00:48:12.5660,3681.0,Grand St,40.715178,-74.037683,3213.0,Van Vorst Park,40.718489,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.0
3,793.0,2021-01-01 00:31:09.077,2021-01-01 00:44:22.9430,3185.0,City Hall,40.717732,-74.043845,3199.0,Newport Pkwy,40.728745,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.0
4,596.0,2021-01-01 00:35:52.190,2021-01-01 00:45:48.7740,3639.0,Harborside,40.719252,-74.034234,3209.0,Brunswick St,40.724176,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.0

In [27]:
df_21.to_csv("JC--2021-citibike-tripdata.csv")